In [7]:
import transformers
from pytorch_pretrained_bert import BertTokenizer,BertForMaskedLM
import pandas as pd
import numpy as np
import transfomers_bert_completions

In [4]:
import os
os.getcwd()

'/home/stephan/notebooks/child-directed-listening'

In [6]:
bertMaskedLM = BertForMaskedLM.from_pretrained('model_output/')
bertMaskedLM.eval()
tokenizer = BertTokenizer.from_pretrained('model_output/')

In [8]:
transfomers_bert_completions.compare_completions("mommy [MASK] .", bertMaskedLM, tokenizer).head(10)

           prob   word  rank
20565  0.625864  mommy     0
8600   0.028496  daddy     1
3336   0.015916   baby     2
2377   0.010264   play     3
9588   0.008919   mama     4
2205   0.007389    too     5
2015   0.005915    ##s     6
2298   0.005339   look     7
3566   0.005279    mom     8
2062   0.004710   more     9

In [9]:
transfomers_bert_completions.compare_completions("where [MASK] ?", bertMaskedLM, tokenizer).head(10)

           prob   word  rank
20565  0.322931  mommy     0
9588   0.055263   mama     1
2175   0.048511     go     2
3336   0.038863   baby     3
8600   0.034430  daddy     4
2073   0.034145  where     5
3566   0.022779    mom     6
2908   0.018156   gone     7
2009   0.010786     it     8
2017   0.009749    you     9

In [11]:
transfomers_bert_completions.compare_completions("hi [MASK] .", bertMaskedLM, tokenizer).head(10)

           prob   word  rank
7632   0.975065     hi     0
7592   0.001790  hello     1
9610   0.001717    chi     2
3336   0.001694   baby     3
8600   0.000861  daddy     4
23603  0.000637  momma     5
20565  0.000552  mommy     6
9588   0.000414   mama     7
3148   0.000364   ##ya     8
2045   0.000359  there     9

In [12]:
transfomers_bert_completions.compare_completions("what [MASK] .", bertMaskedLM, tokenizer).head(10)

          prob      word  rank
3047  0.077751  happened     0
2054  0.060461      what     1
2003  0.050676        is     2
2009  0.034526        it     3
2008  0.027501      that     4
2023  0.026747      this     5
2017  0.019628       you     6
3336  0.014486      baby     7
2338  0.013259      book     8
2842  0.012140      else     9